---
title: Café Jonnie
---
%header
  %h1.webfont Café Jonnie
%section
  %h2.webfont Currently brewing
  %h3.webfont Four Barrel
  %h4.webfont Ethiopia Wato
  %p Floral and white nectarine aromas hint at the sweet stone fruit in the juicy cup. Meyer lemon and apricot anchor the brisk, jasmine finish.
%section
  %h2.webfont Locations
  %h4.webfont
    10 Jay St Ste 612a
    %br
    Brooklyn, NY 11201
%section
  %h2.webfont Hours
  %h4.webfont 2:30-3pm